<%- include("./partials/header.ejs",{description : "Pokedex, list of the 151 first pokemon generation"}) %>
<div class="container">
  <main class="pokedex">
    <h1 class="pokedex__title">Pokedex</h1>
    <button class ="pokedex__filter" type="button"> Filter </button>
    <% pokemons.forEach(pokemon => { %>
    <article class="pokemon">
      <h2 class="pokemon__name"><%=pokemon.name%></h2>
      <a href="/detail/<%=pokemon.id%>" title="Check details"
        class="pokemon__details">
     <i class="fas fa-info-circle"></i></a>
     <a class = pokemon__img-link href ="/detail/<%=pokemon.id%>">
      <img
        class="pokemon__img"
        src="/images/pokemons/<%=pokemon.id%>.png"
        alt=""
      />
      </a>
      <p class="pokemon__id">No.<%=pokemon.id%></p>
      <a
        title="Add to bookmark"
        class="bookmarks__add"
        href="/bookmarks/add/<%=pokemon.id%>"
        ><i class="fas fa-bookmark"></i></i
      ></a>
    </article>
    <%})%>
  </main>
  <aside class="form__container">
    <h3 class="filter__title">Filter by :</h3>
  <form action="/type" class="form__filter" method="GET">
    <section class="filter__container">
      <h4 class="filter__container-title">Types</h4>
      <div class="input__container">
        <% types.forEach(type => { %>
        <input
          id="checkbox-<%=type.types.toLowerCase()%>"
          class="filter__checkbox"
          type="checkbox"
          name="type"
          value="<%=type.types%>"
          aria-label="<%=type.types.toLowerCase()%> type"
        />
        <label
          class="type type-<%=type.types.toLowerCase()%>"
          for="checkbox-<%=type.types.toLowerCase()%>"
        >
          <%=type.types %></label
        >
        <% }) %>
      </div>
    </section>
    <button class="filter__btn" type="submit">Filter</button>
  </form>
  <form action="/name" class="form__filter" method="GET">
    <section class="filter__container">
      <h4 class="filter__container-title">Name</h4>
      <div class="input__container">
        <input
          id="name"
          class="filter__name"
          type="text"
          name="name"
          placeholder="name"
          aria-label="filter by name"
        />
      </div>
    </section>
    <button class="filter__btn" type="submit">Filter</button>
  </form>
  <button class = "btn"> Close </button>
  </aside>
</div>

<%- include("./partials/footer.ejs") %>
